page-home {
  #purpose{
    img{
      margin-bottom: 20px;
    }
  }

  #publications{
    h2{
      text-align: center;
      font-family: "DeadKansas"; 
      font-size: 3rem;
      color: #2e5caa;
      margin-bottom: 20px;
    }
  }

}
