page-making-a-decision {
  img{
    max-width: 100%;
  }
  h2{
    text-align: center;
    font-family: "DeadKansas";
    color: #2e5caa;
    margin-bottom: 20px;
  }

  h3{
    color: #2e5caa;
  }
}
