page-the-safe-signal {
  h2{
    text-align: center;
    font-family: "DeadKansas";
    color: #2e5caa;
    margin-bottom: 20px;
  }

  h3{
    color: #2e5caa;
  }

  .col{
    padding: 1px;
  }

  #the_safe_signal_1{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 21.02009%;
    -ms-flex: 0 0 21.02009%;
    flex: 0 0 21.02009%;
    width: 21.02009%;
    max-width: 21.02009%;
  }

  #the_safe_signal_2{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 22.95208%;
    -ms-flex: 0 0 22.95208%;
    flex: 0 0 22.95208%;
    width: 22.95208%;
    max-width: 22.95208%;
  }

  #the_safe_signal_3{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35.9%;
    -ms-flex: 0 0 35.9%;
    flex: 0 0 35.9%;
    width: 35.9%;
    max-width: 35.9%;
  }

  #the_safe_signal_4{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 19.7836%;
    -ms-flex: 0 0 19.7836%;
    flex: 0 0 19.7836%;
    width: 19.7836%;
    max-width: 19.7836%;
  }
}
