page-the-out-signal {
  h2{
    text-align: center;
    font-family: "DeadKansas";
    color: #2e5caa;
    margin-bottom: 20px;
  }

  h3{
    color: #2e5caa;
  }

  .col{
    padding: 0 2px;
    img{
      width: 100%;
      height: 100%;
    }
  }

  #the_out_signal_1{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.97187%;
    -ms-flex: 0 0 25.97187%;
    flex: 0 0 25.97187%;
    width: 25.97187%;
    max-width: 25.97187%;
  }

  #the_out_signal_2{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 21.75351%;
    -ms-flex: 0 0 21.75351%;
    flex: 0 0 21.75351%;
    width: 21.75351%;
    max-width: 21.75351%;
  }

  #the_out_signal_3{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 26.88172%;
    -ms-flex: 0 0 26.88172%;
    flex: 0 0 26.88172%;
    width: 26.88172%;
    max-width: 26.88172%;
  }

  #the_out_signal_4{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.39288%;
    -ms-flex: 0 0 25.39288%;
    flex: 0 0 25.39288%;
    width: 25.39288%;
    max-width: 25.39288%;
  }
}
